Source: mod-proxy-protocol
Section: web
Priority: optional
Maintainer: Roadrunner2 <roadrunner2@github.com>
Build-Depends: debhelper (>= 7.0.50~), apache2-dev (>= 2.4.0), xsltproc
Standards-Version: 3.8.4
Homepage: https://github.com/roadrunner2/mod-proxy-protocol

Package: libapache2-mod-proxy-protocol
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, apache2-api-20120211, apache2 (>= 2.4.0)
Description: Apache module for proxy protocol
 The proxy protocol is a way for upstream proxies and load-balancers to
 for the ip-address of the client to the server. This package contains
 an Apache module that implements the server-side of this protocol, thereby
 allowing other modules to see and use actual client's ip-address instead
 of that of the upstream proxy/load-balancer.
